<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>

  <body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category if category != None else 'danger' }} mb-0">
      <div>
        {{ message }}
      </div>
    </div>
    {% endfor %}

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}
  </body>

</html>
